<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" columns="24" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd">
  <testsuites>
    <testsuite name="Main">
      <file>tests/CategoriesTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
